@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3";
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.main-header {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.announcement-item {
  width: 100%;
  height: 100%;
}

.first-menu {
  width: 100%;
  height: 5%;
  padding-right: 50px;
  display: flex;
}

.first-menu-items {
  width: 97%;
  display: flex;
  justify-content: end;
  align-items:center;
}

.first-menu-item {
  width: 10%;
  font-size: 12px;
  font-weight: 100;
  text-align:end;
}

.first-menu-item a {
  display: inline-block;
  color: rgb(190, 190, 190);
}

.first-menu-item a:hover {
  color: rgb(15, 15, 15);
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: 20%;
}

.header-logo img {
  width: 210px; 
  height: 41px;
}

.header-search {
  height: 65px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-search>input{
  height: 60%;
  width: 100%;
  border: 2px solid rgb(243, 242, 242);
  }

.search-text {
  width: 100%;
  height: 60%;
  border-radius: 5px;
  font-size: 12px;
  padding-left: 20px;
  color: gray;
  font-weight: 500;
  background-color: rgb(245, 241, 241);
}

.fa-magnifying-glass {
  cursor: pointer;
  padding-left: 10px;
  font-size: 20px;
  color: rgb(243, 103, 52);
  position: absolute;
  right: 15px;
}

.second-menu {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.second-menu-items>li>a {
  font-size: 13px;
  font-weight: 500;
  color: black;
}

.second-menu ul li:hover {
  color: orangered;
}
.second-menu ul a:hover {
  color: orangered;
}

nav ul {
  width: 100%;
  text-align: center;
}

li {
  list-style-type: none;
  display: inline-block;
}

.fa-user,
.fa-heart,
.fa-cart-shopping {
  padding-right: 5px;
  font-size: 16px;
}

.categories-item{
  width: 110px;
}

.categories-item>a {
  font-size: 14px;
  color: rgb(41, 40, 40);
  font-weight: 600;
}

.header-categories-item a:hover {
  text-decoration: underline;
  color: orangered;
}

.categories-item-new {
  color: orangered;
  font-size: 15px;
  width: 130px;
}

.categories-item-new>a{
  font-size: 14px;
  font-weight: 600;
   color: rgb(41, 40, 40);
}

.categories-items-new a:hover {
  text-decoration: underline;
  color: orangered;
}



.main {
  width: 100vw;
  height: 100vh;
}

.main-slider {
  width: 85%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  margin-left: 100px;
  padding-left: 100px;
  overflow-x: scroll;
  margin-top: 0px;
}

.main-slider-item {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-slider-item img {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50%;
}

.main-slider-item h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.main-special {
  width: 100%;
  height: 30%;
  padding-left: 70px;
  padding-right: 90px;
}

.main-special-items {
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-special-item {
  height: 70%;
  width: 350px;
  background-color: #d2e3c8;
  color: #005b41;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.main-super{
  width: 100%;
  height: 100%;
  padding-top: 25px;
}

.main-super img{
    transition-duration: 1.5s;
}

.main-super-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}

.main-super-items img{
  width: 485px;
  height: 250px;
}

.main-super-item h3{
  width: 485px;
  height: 50px;
  background-color: #1F1717;
  color: white;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.main-super-items img:hover{
  width: 495px;
  height: 260px;
}

.main-super-item h3:hover{
  background-color: #FFA33C;
}

