@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3";
  font-weight: 600;
  height: 1400px;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

header{
  height: 30%;
}

.main-header {
  height: 200px;
  width: 100%;
}

.announcement-item {
  width: 100%;
  height: 10%;
}

.first-menu {
  width: 100%;
  height: 20%;
}

.first-menu-items {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 110px;
  padding-top: 8px;
}

.first-menu-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 500;
}

.first-menu-item a {
  color: gray;
}

.first-menu-item a:hover {
  color: rgb(15, 15, 15);
}

.navbar {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.main-logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo img {
  margin-left: 170px;
}

.main-search {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-text {
  width: 100%;
  height: 75%;
  border-radius: 10px;
  font-size: 15px;
  padding-left: 20px;
  color: gray;
  font-weight: 500;
  background-color: rgb(245, 241, 241);
}

.fa-magnifying-glass {
  cursor: pointer;
  padding-left: 10px;
  font-size: 25px;
  color: rgb(243, 103, 52);
  position: absolute;
  right: 15px;
}

.second-menu {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 70px;
}

.second-menu-items a {
  font-weight: 500;
  color: black;
}

.second-menu ul li:hover {
  color: orangered;
}
.second-menu ul a:hover {
  color: orangered;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style-type: none;
}

.fa-user,
.fa-heart,
.fa-cart-shopping {
  padding-right: 5px;
  font-size: 20px;
}

.main {
  width: 100vw;
  height: 40%;
}

.main-categories {
  width: 100%;
}

.main-categories-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 70px;
  padding-left: 130px;
  color: black;
}

.categories-item{

}

.main-categories-item li{

}

.main-categories-item a {
  font-size: 18px;
}

.main-categories-items a:hover {
  text-decoration: underline;
  color: orangered;
}

.categories-items-new a{
  font-size: 18px;
}

.categories-items-new a:hover {
  text-decoration: underline;
  color: orangered;
}

.categories-item-new {
  color: orangered;
  padding-right: 50px;
  font-size: 15px;
}

.main-slider {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  margin-left: 100px;
  padding-left: 100px;
}

.main-slider-item {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-slider-item img {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50%;
}

.main-slider-item h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.main-special {
  width: 100%;
  height: 30%;
  padding-left: 70px;
  padding-right: 90px;
}

.main-special-items {
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-special-item {
  height: 70%;
  width: 350px;
  background-color: #d2e3c8;
  color: #005b41;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.main-super{
  width: 100%;
  height: 100%;
  padding-top: 25px;
}

.main-super img{
    transition-duration: 1.5s;
}

.main-super-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}

.main-super-items img{
  width: 485px;
  height: 250px;
}

.main-super-item h3{
  width: 485px;
  height: 50px;
  background-color: #1F1717;
  color: white;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.main-super-items img:hover{
  width: 495px;
  height: 260px;
}

.main-super-item h3:hover{
  background-color: #FFA33C;
}

main a{
  height: 500px;
}

.container{
  width: 100vw;
  height: 100vh;
}

.product-container{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.product-items{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prudoct-card{
  height: 700px;
}
.image{
  position: relative;
}

.star{
  position: absolute;
  top: 10px;
  left: 10px;
}

.info{
  height: 150px;
}

.title{
  font-weight: 500;
  color: gray;
  width: 280px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.sale{
  color: rgb(196, 7, 7);
  font-weight: 600;
  width: 280px;
  margin-bottom: 10px;
  font-size: 16px;
}

.fa-arrow-trend-down{
  padding-right: 5px;
}

.price{
  color: rgb(194, 8, 8);
  width: 280px;
  font-size: 20px ;
}